USE [master]
GO
/****** Object:  Database [Book_sales_DWH]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE DATABASE [Book_sales_DWH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Book_sales_datawarehouse', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Book_sales_datawarehouse.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Book_sales_datawarehouse_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Book_sales_datawarehouse_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Book_sales_DWH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Book_sales_DWH]
GO
/****** Object:  Table [dbo].[adress_cust_dim]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adress_cust_dim](
	[cust_id_Fk] [int] NOT NULL,
	[adress_fk] [int] NOT NULL,
 CONSTRAINT [pk_add_cust] PRIMARY KEY CLUSTERED 
(
	[adress_fk] ASC,
	[cust_id_Fk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[adress_dim]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adress_dim](
	[Adress_sk] [int] IDENTITY(1,1) NOT NULL,
	[Adress_Bk] [int] NULL,
	[street_no] [nvarchar](20) NULL,
	[street_name] [nvarchar](200) NULL,
	[city] [nvarchar](200) NULL,
	[count_Bk] [int] NULL,
	[countryname] [nvarchar](200) NULL,
	[status_Bk] [int] NULL,
	[status] [nvarchar](200) NULL,
 CONSTRAINT [PK__adress_d__C37640BACF7FAC05] PRIMARY KEY CLUSTERED 
(
	[Adress_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[Author_Sk] [int] IDENTITY(1,1) NOT NULL,
	[Author_Bk] [int] NULL,
	[Author_name] [nvarchar](400) NULL,
 CONSTRAINT [PK__Author__55BE4875E793F9F0] PRIMARY KEY CLUSTERED 
(
	[Author_Sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author_book]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author_book](
	[Book_id_sk] [int] NOT NULL,
	[Author_Sk] [int] NOT NULL,
 CONSTRAINT [pk] PRIMARY KEY CLUSTERED 
(
	[Book_id_sk] ASC,
	[Author_Sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Book_id_sk] [int] IDENTITY(1,1) NOT NULL,
	[Book_id_Bk] [int] NULL,
	[title] [nvarchar](400) NULL,
	[ISBN13] [nvarchar](50) NULL,
	[language_id_Bk] [int] NULL,
	[language_name] [nvarchar](400) NULL,
	[language_code] [nvarchar](20) NULL,
	[publication_date] [datetime] NULL,
	[NoPages] [int] NULL,
	[Publisher_bk] [int] NULL,
	[Publisher_name] [nvarchar](1000) NULL,
 CONSTRAINT [PK__Book__67E85006897C7526] PRIMARY KEY CLUSTERED 
(
	[Book_id_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_dim]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_dim](
	[CustomerID_sk] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID_Bk] [int] NULL,
	[first_Name] [nvarchar](400) NULL,
	[last_Name] [nvarchar](400) NULL,
	[email] [nvarchar](500) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[iscurrent] [bit] NULL,
 CONSTRAINT [PK__customer__815C568B2DBAB4B6] PRIMARY KEY CLUSTERED 
(
	[CustomerID_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Date]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Date](
	[Date_SK] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Day] [char](2) NOT NULL,
	[DaySuffix] [varchar](4) NOT NULL,
	[DayOfWeek] [varchar](9) NOT NULL,
	[DOWInMonth] [tinyint] NOT NULL,
	[DayOfYear] [int] NOT NULL,
	[WeekOfYear] [tinyint] NOT NULL,
	[WeekOfMonth] [tinyint] NOT NULL,
	[Month] [char](2) NOT NULL,
	[MonthName] [varchar](9) NOT NULL,
	[Quarter] [tinyint] NOT NULL,
	[QuarterName] [varchar](6) NOT NULL,
	[Year] [char](4) NOT NULL,
	[StandardDate] [varchar](10) NULL,
	[Holiday_name_en] [varchar](50) NULL,
 CONSTRAINT [PK_Dim_Date] PRIMARY KEY CLUSTERED 
(
	[Date_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_order_history2]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_order_history2](
	[history_sk] [int] IDENTITY(1,10) NOT NULL,
	[history_Bk] [int] NULL,
	[order_id] [int] NULL,
	[status_Bk] [int] NULL,
	[status_value] [nvarchar](200) NULL,
	[status_date] [date] NULL,
	[status_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dim_Time]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dim_Time](
	[Time_SK] [int] IDENTITY(1,1) NOT NULL,
	[Time] [time](0) NOT NULL,
	[Hour] [char](2) NOT NULL,
	[MilitaryHour] [char](2) NOT NULL,
	[Minute] [char](2) NOT NULL,
	[Second] [char](2) NOT NULL,
	[AmPm] [char](2) NOT NULL,
	[StandardTime] [char](11) NULL,
 CONSTRAINT [PK_Dim_Time] PRIMARY KEY CLUSTERED 
(
	[Time_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fact_Book_sales]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fact_Book_sales](
	[order_id_Sk] [int] IDENTITY(1,1) NOT NULL,
	[order_id_Bk] [int] NULL,
	[customer_fk] [int] NOT NULL,
	[shipping_method_fk] [int] NOT NULL,
	[book_id_fk] [int] NOT NULL,
	[history_fk] [int] NOT NULL,
	[date_fk] [int] NOT NULL,
	[time_fk] [int] NOT NULL,
	[price] [float] NULL,
	[cost] [decimal](10, 6) NULL,
	[address_dist] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id_Sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_history_status]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_history_status](
	[history_sk] [int] IDENTITY(1,1) NOT NULL,
	[history_Bk] [int] NULL,
	[status_Bk] [int] NULL,
	[status_value] [nvarchar](50) NULL,
	[status_date] [date] NULL,
	[status_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[history_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_method]    Script Date: 08/09/2025 07:56:43 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_method](
	[method_sk] [int] IDENTITY(1,1) NOT NULL,
	[method_Bk] [int] NULL,
	[method_name] [nvarchar](200) NULL,
	[cost] [float] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[iscurrent] [bit] NULL,
 CONSTRAINT [PK__shipping__7477D155EC744C38] PRIMARY KEY CLUSTERED 
(
	[method_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Holiday]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Holiday] ON [dbo].[Dim_Date]
(
	[Holiday_name_en] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Month]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Month] ON [dbo].[Dim_Date]
(
	[Month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_StandardDate]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_StandardDate] ON [dbo].[Dim_Date]
(
	[StandardDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IDX_Dim_Date_Year]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Date_Year] ON [dbo].[Dim_Date]
(
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_AmPm]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_AmPm] ON [dbo].[Dim_Time]
(
	[AmPm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Hour]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Hour] ON [dbo].[Dim_Time]
(
	[Hour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_MilitaryHour]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_MilitaryHour] ON [dbo].[Dim_Time]
(
	[MilitaryHour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Minute]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Minute] ON [dbo].[Dim_Time]
(
	[Minute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Second]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_Second] ON [dbo].[Dim_Time]
(
	[Second] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_StandardTime]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE NONCLUSTERED INDEX [IDX_Dim_Time_StandardTime] ON [dbo].[Dim_Time]
(
	[StandardTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Dim_Time_Time]    Script Date: 08/09/2025 07:56:43 ص ******/
CREATE UNIQUE NONCLUSTERED INDEX [IDX_Dim_Time_Time] ON [dbo].[Dim_Time]
(
	[Time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[adress_cust_dim]  WITH CHECK ADD  CONSTRAINT [fk1_add_cust] FOREIGN KEY([cust_id_Fk])
REFERENCES [dbo].[customer_dim] ([CustomerID_sk])
GO
ALTER TABLE [dbo].[adress_cust_dim] CHECK CONSTRAINT [fk1_add_cust]
GO
ALTER TABLE [dbo].[adress_cust_dim]  WITH CHECK ADD  CONSTRAINT [fk2_add_cust] FOREIGN KEY([adress_fk])
REFERENCES [dbo].[adress_dim] ([Adress_sk])
GO
ALTER TABLE [dbo].[adress_cust_dim] CHECK CONSTRAINT [fk2_add_cust]
GO
ALTER TABLE [dbo].[Author_book]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([Book_id_sk])
REFERENCES [dbo].[Book] ([Book_id_sk])
GO
ALTER TABLE [dbo].[Author_book] CHECK CONSTRAINT [fk1]
GO
ALTER TABLE [dbo].[Author_book]  WITH CHECK ADD  CONSTRAINT [fk2] FOREIGN KEY([Author_Sk])
REFERENCES [dbo].[Author] ([Author_Sk])
GO
ALTER TABLE [dbo].[Author_book] CHECK CONSTRAINT [fk2]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [address_order_fk] FOREIGN KEY([address_dist])
REFERENCES [dbo].[adress_dim] ([Adress_sk])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [address_order_fk]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk1_fact] FOREIGN KEY([customer_fk])
REFERENCES [dbo].[customer_dim] ([CustomerID_sk])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk1_fact]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk2_fact] FOREIGN KEY([shipping_method_fk])
REFERENCES [dbo].[shipping_method] ([method_sk])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk2_fact]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk3_fact] FOREIGN KEY([book_id_fk])
REFERENCES [dbo].[Book] ([Book_id_sk])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk3_fact]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk4_fact] FOREIGN KEY([history_fk])
REFERENCES [dbo].[order_history_status] ([history_sk])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk4_fact]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk6_fact_date] FOREIGN KEY([date_fk])
REFERENCES [dbo].[Dim_Date] ([Date_SK])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk6_fact_date]
GO
ALTER TABLE [dbo].[Fact_Book_sales]  WITH CHECK ADD  CONSTRAINT [fk6_fact_time] FOREIGN KEY([time_fk])
REFERENCES [dbo].[Dim_Time] ([Time_SK])
GO
ALTER TABLE [dbo].[Fact_Book_sales] CHECK CONSTRAINT [fk6_fact_time]
GO
USE [master]
GO
